
<div class="p-4 text-white">
    <app-back-button></app-back-button>

    <h1 className='text-3xl my-4'> Edit Employe</h1>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3 w-50">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
        </div>
        <div class="mb-3 w-50">
            <label class="form-label">Tipo</label>
            <input type="text" class="form-control" formControlName="tipo">
        </div>
        <div class="mb-3 w-25">
            <label class="form-label">Precio</label>
            <input type="text" class="form-control" formControlName="precio">
        </div>
        <input type="submit" value="Enviar" class="btn btn-info">
    </form>

</div>

