

<div class="p-4 text-white">
    <div *ngIf="isLoading; else lista" class="d-flex justify-content-center align-items-center min-vh-100">
        <app-loading></app-loading>
    </div>

    <ng-template #lista>

        <div class="d-flex justify-content-between">
            <h1 class='text-3xl my-8'>Lista de productos</h1>

            <a class="btn btn-danger my-4" (click)="onLogout()">
                Logout
            </a>
    
        </div>

        <div>
            <p>Bienvenido, {{this.usuario}}</p>

            <img *ngIf="hasPhoto; else notPhoto" class="userProfile" src={{this.userPhoto}} alt="user-photo">
            
            <ng-template #notPhoto>
                <img class="userProfile" src="assets/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent-300x298.png" alt="user-photo">
            </ng-template>
            
        </div>


        <a class="btn btn-success my-4" [routerLink]="['create-item']">
            Nuevo
        </a>

        <table class="table table-primary table-striped">
            <thead>
                <tr class="table-dark">
                    <th className=''>N°</th>
                    <th className=''>Nombre</th>
                    <th className=''>Tipo</th>
                    <th className=''>Precio</th>
                    <th className=''>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productos| paginate: { itemsPerPage: itemsPerPage, currentPage: page }; index as i ">
                    <td>{{(i + 1) + (page-1)*itemsPerPage}}</td>
                    <td>{{product.nombre}}</td>
                    <td>{{product.tipo}}</td>
                    <td>{{product.precio | currency:'S/. '}}</td>
                    <td>
                        <button class="btn btn-dark mx-2 my-2" [routerLink]="['edit-item', product.id]">Editar</button>
                        <button class="btn btn-danger"  (click)="openPopup(product.id)">Eliminar</button>

                        <div class="popup" *ngIf="statePopup == product.id">
                            <div (click)="closePopup()" class="CloseIcon">&#10006;</div>
                            <p>Are you sure to delete {{product.nombre}}?</p>

                            <button class="btn btn-danger"  (click)="onClickDelete(product)">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>    
        </table>

        <div class="text-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>

    </ng-template>
    
</div>
