

<div class="p-4 text-white">
    <div *ngIf="isLoading; else lista" class="d-flex justify-content-center align-items-center min-vh-100">
        <app-loading></app-loading>
    </div>

    <ng-template #lista>

        <div class="d-flex justify-content-between">
            <h1 class='text-3xl my-8'>Lista de productos</h1>

            <a class="btn btn-danger my-4" (click)="onLogout()">
                Logout
            </a>
    
        </div>

        <p>Bienvenido, {{this.usuario}}</p>

        <a class="btn btn-success my-4" [routerLink]="['create-item']">
            Nuevo
        </a>

        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th className=''>N°</th>
                    <th className=''>Nombre</th>
                    <th className=''>Tipo</th>
                    <th className=''>Precio</th>
                    <th className=''>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productos; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{product.nombre}}</td>
                    <td>{{product.tipo}}</td>
                    <td>{{product.precio | currency:'S/. '}}</td>
                    <td>
                        <button class="btn btn-dark mx-2" [routerLink]="['edit-item', product.id]">Editar</button>
                        <button class="btn btn-danger"  (click)="onClickDelete(product)">Eliminar</button>
                    </td>
                </tr>
            </tbody>    
        </table>

    </ng-template>
    
</div>
